<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>条件判断</title>
</head>
<body>
    <h2>th:if 用法满足则执行 否则相反</h2>
    <div>
        <span th:text="${id}"></span>
        <span th:text="${username}"></span>
        <span th:if="${sex == 0}" th:text="女"></span>
        <span th:if="${sex == 1}" th:text="男"></span>
        <span th:if="${flag== true}" th:text="在职"></span>
        <span th:if="${flag== false}" th:text="已离职"></span>
        <span th:if="${stat==0}" th:text="未请假"></span>
        <span th:if="${stat==1}" th:text="请假中"></span>
    </div>
    <h2>th:unless 与th:if相反</h2>
    <div>
        <span th:text="${id}"></span>
        <span th:text="${username}"></span>
        <span th:unless="${sex ne 0}" th:text="女"></span>
        <span th:unless="${sex ne 1}" th:text="男"></span>
        <span th:unless="${flag ne true}" th:text="在职"></span>
        <span th:unless="${flag ne false}" th:text="已离职"></span>
        <span th:unless="${stat ne 0}" th:text="未请假"></span>
        <span th:unless="${stat ne 1}" th:text="请假中"></span>
    </div>
    <h2>th:switch/th:case用法</h2>
    <div th:switch="${stat}">
        <span th:case="0">未请假</span>
        <span th:case="1">休假中</span>
        <span th:case="*">无</span>
    </div>
    <h2>内联表达式</h2>
    <div th:inline="text">[[${username}]]</div>
    <h2>字符串拼接</h2>
    <span th:text="|共${totalPage}页,当前为第${currentPage}页|"></span>
</body>
</html>